# This is a basic workflow to help you get started with Actions

name: Docker Build (slim)

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, docker-swarm ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  docker-slim:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Generate Dockerfile
      run: ./generate-Dockerfile.sh --slim

    - name: Build Image
      run: docker build -t gpu-jupyter .build/  # will take a while

    - name: Quickstart Entrypoint Script
      run: ./start-local.sh -p 8848 
